@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
    rgb(var(--background-start-rgb));
}


.custom-background {
  position: relative;
  overflow: hidden;
}

.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(9px); /* blur level */
  z-index: -1; /* so it stays behind the content */
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid var(--primary-color); /* Primary color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --primary-color: #30475E; 
  --secondary-color: #81c3d7; 
  --tertiary-color: #222831; 
}

.excalidraw {
  --color-primary: #30475E;
}


@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 0.5s forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-enter {
  animation: slideDown 0.3s ease-out forwards;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thumb-scrollbar::-webkit-scrollbar-thumb {
  background-color: #81c3d7;
  border-radius: 10px;
}

.loader-container {
  position: absolute; /* or 'absolute' if you prefer */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* high z-index to overlay on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.driver-popover-next-btn {
  @apply bg-primary hover:bg-tertiary font-bold text-white  py-2 px-4 rounded !important;
  text-shadow: none !important;
}

.driver-popover-prev-btn {
  @apply border border-primary text-primary !important;
  
}
